.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.navbar-logo h1 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: auto;
}

.navbar-menu li {
  color: #333;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.navbar-menu li:hover,
.navbar-menu li:focus {
  background-color: #f0f0f0;
}

.login-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 20px;
}

.login-button:hover {
  background-color: #45a049;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 5px 10px 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.2s;
}

.profile-container:hover {
  background-color: #e0e0e0;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logout-button {
  position: absolute;
  bottom: -40px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  white-space: nowrap;
}

.logout-button:hover {
  background-color: #e0e0e0;
}

.dropdown-icon {
  position: relative;
  width: 24px; /* 전체 크기 조정 */
  height: 24px;
}

.dropdown-icon::before,
.dropdown-icon::after {
  content: "";
  position: absolute;
  width: 8px; /* 화살표의 길이 */
  height: 2px; /* 화살표 두께 */
  background-color: black;
  border-radius: 4px; /* 둥근 끝을 만들기 위해 반지름 적용 */
}

.dropdown-icon::before {
  transform: rotate(45deg);
  top: 10px;
  left: 0;
}

.dropdown-icon::after {
  transform: rotate(-45deg);
  top: 10px;
  right: 11px;
}
