/* src/components/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 80px auto 0 auto; /* 네비게이션 바 높이만큼 간격 추가 */
    box-sizing: border-box;
  }
  
  
  /* Rectangle 1 - 검색 영역 */
  .search-section-wrapper {
    width: 1165px;
    height: 131px;
    background-color: #e0f7de;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .url-input {
    width: 70%;
    height: 48px; /* 높이 설정 */
    padding: 0 15px; /* 세로 패딩 제거, 좌우 패딩 유지 */
    border: 1px solid #ccc;
    border-radius: 9999px; /* 완전한 둥근 모서리 */
    margin-right: 15px;
    font-size: 16px;
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
  }
  
  .search-button {
    height: 48px; /* 높이 설정 */
    background-color: #4CAF50;
    color: white;
    padding: 0 25px; /* 세로 패딩 제거, 좌우 패딩 유지 */
    border: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 18px;
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
  }
  
  
  /* Rectangle 2 - 이미지 및 설명 카드 영역 */
  .content-section {
    width: 1165px;
    height: 510px;
    background-color: rgba(217, 217, 217, 0.52);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card {
    width: 479px;
    height: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
  }
  
  .main-image-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  .description-card {
    text-align: left;
  }
  
  .description-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
  }
  