/* src/components/Loading.css */

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* 흰색 배경 */
  }
  
  .loading-image {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #d3d3d3; /* 비활성화된 동그라미 색상 */
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #4CAF50; /* 활성화된 동그라미 색상 */
  }
  
  .loading-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }  